# Ignore Build output
cmake-build*
build
.cache
compile_commands.json

# Ignore Visual Studio files
*.vs
Debug
Release
ipch

# Ignore VS Code configuration
.vscode

# Ignore JetBrains configurations
.idea
.run
