# Ignore Build output
cmake-build*
build

# Ignore Visual Studio files
*.vs
Debug
Release
ipch

# Ignore VS Code configuration
.vscode

# Ignore JetBrains configurations
.idea
.run
0-intro/CMakeCache.txt
0-intro/CMakeFiles/3.29.8/CMakeSystem.cmake
0-intro/CMakeFiles/cmake.check_cache
0-intro/CMakeFiles/CMakeConfigureLog.yaml
\[OmarElAnsary\]_\[HussamChihadeh\]_\[GeorgMaximilian\]_ex1.zip
